# Requirements for developing `autorecurse`. Run `pip install -r
# requirements.txt` to install development tools.
antlr4-python3-runtime==4.5
appdirs==1.4.3
chardet==2.3.0
command-not-found==0.3
cycler==0.10.0
defer==1.0.6
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==3.5.0
matplotlib==2.0.0
memory-profiler==0.45
mypy==0.501
numpy==1.12.1
packaging==16.8
pkg-resources==0.0.0
psutil==3.4.2
pycups==1.9.73
pycurl==7.43.0
Pygments==2.1
pygobject==3.20.0
pyparsing==2.2.0
pyprof2calltree==1.4.0
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
pytz==2016.10
requests==2.9.1
screen-resolution-extra==0.0.0
six==1.10.0
typed-ast==1.0.2
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.0.1
xkit==0.0.0
